package contact

import "github.com/kakarotDevs/brzdoors-goth/layouts"

templ Index() {
	@layouts.Base("Contact") {
		<div class="p-8">
			<h1 class="text-3xl font-bold">Contact Us</h1>
			<p class="mt-2 text-gray-700">Send us a message or drop by. We're always ready to help.</p>
		</div>
	}
}
