package order

import "github.com/kakarotDevs/brzdoors-goth/layouts"

templ Index() {
	@layouts.Base("Order") {
		<div class="p-8">
			<h1 class="text-3xl font-bold">Order a Door</h1>
			<p class="mt-2 text-gray-700">Let us know what you need and we’ll handle the rest.</p>
		</div>
	}
}
