package about

import "github.com/kakarotDevs/brzdoors-goth/layouts"

templ Index() {
	@layouts.Base("About") {
		<div class="p-8">
			<h1 class="text-3xl font-bold">About Briz Doors</h1>
			<p class="mt-2 text-gray-700">We open new doors with simplicity, efficiency, and style.</p>
		</div>
	}
}
